# Sources
*.cc   text diff=cpp eol=lf
*.cpp  text diff=cpp eol=lf
*.h    text diff=cpp eol=lf
*.inl  text diff=cpp eol=lf

# Visual Studio
*.props            text eol=crlf
*.slnx             text eol=crlf
*.targets          text eol=crlf
*.vcxproj          text eol=crlf
*.vcxproj.filters  text eol=crlf

# Other
app.manifest          text eol=crlf
Package.appxmanifest  text eol=crlf
packages.config       text eol=crlf
