#include "resource.h"

LANGUAGE 16, 1  // LANG_ITALIAN, SUBLANG_ITALIAN

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "I&mpostazioni", IDM_TRAY_SETTINGS
    MENUITEM "&Esci",         IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "&Debug"
END
