#include "resource.h"

LANGUAGE 4, 1  // LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "設定(&S)", IDM_TRAY_SETTINGS
    MENUITEM "結束(&X)", IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "偵錯(&D)"
END
