#include "resource.h"

LANGUAGE 33, 1  // LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "&Pengaturan", IDM_TRAY_SETTINGS
    MENUITEM "&Keluar",     IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "&Debug"
END
