#include "resource.h"

LANGUAGE 42, 1  // LANG_VIETNAMESE, SUBLANG_VIETNAMESE_VIETNAM

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "Cài đặ&t", IDM_TRAY_SETTINGS
    MENUITEM "Th&oát",   IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "&Gỡ lỗi"
END
