#include "resource.h"

LANGUAGE 22, 1  // LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "C&onfigurações", IDM_TRAY_SETTINGS
    MENUITEM "Sai&r",          IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "&Depurar"
END
