#include "resource.h"

LANGUAGE 12, 1  // LANG_FRENCH, SUBLANG_FRENCH

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "&Paramètres", IDM_TRAY_SETTINGS
    MENUITEM "&Quitter",    IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "&Débogage"
END
