#include "resource.h"

LANGUAGE 9, 1  // LANG_ENGLISH, SUBLANG_ENGLISH_US

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "&Settings", IDM_TRAY_SETTINGS
    MENUITEM "E&xit",     IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "&Debug"
END
