#include "resource.h"

LANGUAGE 30, 1  // LANG_THAI, SUBLANG_THAI_THAILAND

IDC_MENU_TRAY MENU
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "การตั้งค่า", IDM_TRAY_SETTINGS
    MENUITEM "ออก",    IDM_TRAY_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_MENU_DEBUG "ดีบัก"
END
